.flags-sprite,
.flags-english,
.flags-chinese,
.flags-french,
.flags-german,
.flags-italian,
.flags-japanese,
.flags-korea,
.flags-portuguese,
.flags-russian,
.flags-brazilian,
.flags-spanish{background-image:url('ui/images/flags.png');background-repeat:no-repeat}
.flags-english{background-position:0 6px;height:32px;width:32px}
.flags-chinese{background-position:0 -26px;height:32px;width:32px}
.flags-french{background-position:0 -58px;height:32px;width:32px}
.flags-german{background-position:0 -90px;height:32px;width:32px}
.flags-italian{background-position:0 -122px;height:32px;width:32px}
.flags-japanese{background-position:0 -154px;height:32px;width:32px}
.flags-korea{background-position:0 -186px;height:32px;width:32px}
.flags-portuguese{background-position:0 -218px;height:32px;width:32px}
.flags-russian{background-position:0 -250px;height:32px;width:32px}
.flags-spanish{background-position:0 -282px;height:32px;width:32px}
.flags-brazilian{background-position:0 -314px;height:32px;width:32px}