<div class="page" ng-controller="ProductCtrl as pCtrl">
    <style>
        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width: 100%;
            height: 464px;
        }
    </style>
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header"><span data-translate="PRODUCT"></span></h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading"><i class="fa fa-plus color-success"></i> Novo</div>
                <div class="panel-body">
                    <form role="form" name="form" class="md-form-login form-validation" ng-submit="pCtrl.saveProduct()" method="post" enctype="multipart/form-data">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="image">Select an image file:</label>
                                
                                <div class="cropArea">
                                    <img-crop image="myImage" area-type="square" result-image-size="250" area-min-size="250" result-image="pCtrl.myCroppedImage"></img-crop>
                                </div>
                                <input type="file" ng-model="pCtrl.product.fileInput" name="fileInput" class="form-control" id="fileInput" />
                                
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <fw-field required="true" reference="form.name" id="name" model="pCtrl.product.name" label-translate="NAME" placeholder-translate="PLACEHOLDER_PRODUCT_NAME" icon="fa-font" type="text"></fw-field>
                               
                            <fw-select required="true" id="category" label-translate="LABEL_CATEGORY" placeholder-translate="PLACEHOLDER_SELECT" reference="form.category" model="pCtrl.product.category" options="pCtrl.allCategories"></fw-select>
                            
                            <fw-field reference="form.quantity" id="quantity" model="pCtrl.product.quantity" label-translate="QUANTITY" placeholder-translate="PLACEHOLDER_PRODUCT_QUANTITY" icon="fa-list-ol" type="number"></fw-field>
                            
                            <fw-field required="true" reference="form.price" id="price" model="pCtrl.product.price" label-translate="PRICE" placeholder-translate="PLACEHOLDER_PRODUCT_PRICE" icon="fa-money" type="text"></fw-field>
                           
                            <div class="checkbox">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="pCtrl.product.stock" class="md-primary">Ativar controle de estoque?</md-checkbox>
                            </div>

                            <fw-textarea id="description" label-translate="DESCRIPTION" placeholder-translate="DESCRIPTION" reference="form.description" model="pCtrl.product.description" rows="4"></fw-textarea>
                            
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <md-button type="button" ng-click="pCtrl.saveProduct()" class="md-raised md-accent btn-w-md" style="margin-bottom:10px; width:100%;">Salvar</md-button>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <md-button type="reset" class="md-raised btn-w-md md-warn" ng-click="pCtrl.revert()" style="margin-bottom:10px; width:100%;">Cancelar</md-button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>